#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

.search-result-card {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.video-card {
    min-height: 50vw;
    width: 100%;
}