html, body {
    height: 100%;
}

.search-result-card {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.video-card {
    width: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}